<ion-view view-title="Invite">
    <ion-content class="padding">
        <h2>Invitation</h2>
        <ion-list class="item-remove-animate">
            <!--<ion-item ng-repeat="one in contacts" type="item-text-wrap">-->
            <!---->
            <!--</ion-item>-->
            <ion-item ng-repeat="one in contacts">
                <h2>{{one.name.formatted}}</h2>
                <a class="button button-icon ion-ios-paperplane" ng-click="sendsms()"></a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
