<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Schmilbrick</h2>

    <button class="button button-block button-positive" ng-click="invitePeople()" ui-sref="tab.invite">
      Inviter des joueurs
    </button>

    <button class="button button-outline button-positive" ng-click="music_one()">
      Mario
    </button>

    <button class="button button-outline button-positive" ng-click="music_two()">
      Pokemon
    </button>

    <button class="button button-outline button-assertive" ng-click="stop()">
      Stop
    </button>

    <div id="heading"></div>

    <div id="res"></div>
  </ion-content>
</ion-view>
