<!--
Create tabs with an icon and label, using the tabs-assertive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
    <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!-- Invite Tab-->
  <ion-tab title="Invite" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/invite">
    <ion-nav-view name="tab-invite"></ion-nav-view>
  </ion-tab>

  <!-- Propose Tab-->
  <ion-tab title="Suggest" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/suggest">
    <ion-nav-view name="tab-suggest"></ion-nav-view>
  </ion-tab>

  <!-- Profil Tab-->
  <ion-tab title="Profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profil">
    <ion-nav-view name="tab-profil"></ion-nav-view>
  </ion-tab>

  <!--Geolocalisation-->
  <!--<ion-tab title="Geolocalisation" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/geolocalisation">-->
    <!--<ion-nav-view name="tab-geolocalisation"></ion-nav-view>-->
  <!--</ion-tab>-->


</ion-tabs>
